@model EPICommerce.Web.Models.Blocks.BannerBlock
@functions
{
    string GetStyle(string style, string value)
    {
        return string.IsNullOrEmpty(value) ? "" : style + ": " + value + ";";
    }

}
<div class="banner-container text-right">
    <a href="@Url.ContentUrl(Model.TargetLink)" style="@GetStyle("color", Model.TextColor)"
       @if (string.IsNullOrEmpty(Model.PromotionId) == false) { @: onclick="if(ga) { console.log('clicking banner'); ga('send', 'event', 'banner', 'click', '@Model.PromotionId', 1.00, { 'nonInteraction': 1 })};"
                            }>
        @Html.PropertyFor(p => p.Image, new { CssClass = "img-responsive" })
        <div class="caption" style="">@Html.PropertyFor(p => p.Title)</div>
    </a>
</div>
