@using EPiServer.Core
@using EPICommerce.Web.Models.Blocks

@model Chrome

<div id="helpDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="javascript:;" class="close" role="button">@Html.Translate("/common/layout/close_dialog")</a>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container buttons">
        @Html.PropertyFor(p => p.GlobalFooterContent, new { EditContainerClass = "overflow-hidden", CssClass = "clearfix" })
    </div>
    <div class="container">
        <nav role="navigation" class="menu-footer">



            <ul style="display: inline-block">
            @if (Model.FooterMenu != null)
            {
                foreach (var link in Model.FooterMenu.ToList())
                {
                    <li>
                        @Html.ContentLink(link)
                    </li>
                }
            }
            <li>
                <span class="title">@Html.Translate("/common/social/follow_title")</span>
            </li>
            @*@if (Model.SocialMediaIcons != null)
                {
                    foreach (var socialMediaIcon in Model.SocialMediaIcons.FilteredItems)
                    {
                        SocialMediaLinkBlock socialMediaContent = socialMediaIcon.GetContent() as SocialMediaLinkBlock;
                        if (socialMediaContent != null)
                        {
                            <li class="social-media">
                                @Html.Partial("Blocks/SocialMediaLinkBlock", (object)socialMediaContent)
                            </li>
                        }
                    }
                }*@
            @*<li> | </li>
                @Html.PropertyFor(p => p.SocialMediaIcons, new { CustomTag = "li", CssClass = "social-media", EditContainerClass = "social-media" })*@
            </ul>

            @Html.PropertyFor(p => p.SocialMediaIcons, new { CustomTag = "ul", ChildrenCustomTagName = "li", ChildrenCssClass = "", CssClass = "social-media", EditContainerClass = "social-media" })

            @*@Html.BeginEditSection("ul", p => p.SocialMediaIcons)

            @if (Model.SocialMediaIcons != null)
            {

                foreach (var socialMediaIcon in Model.SocialMediaIcons.FilteredItems)
                {
                    SocialMediaLinkBlock socialMediaContent = socialMediaIcon.GetContent() as SocialMediaLinkBlock;
                    if (socialMediaContent != null)
                    {
                        <li class="social-media">
                            @Html.Partial("Blocks/SocialMediaLinkBlock", (object)socialMediaContent)
                        </li>
                    }
                }


            }
            @Html.EndEditSection("ul")*@

            
        </nav>
    </div>
</div>
